/*
body{
    margin:10px;
    background: grey;
}

.header-cont {
    width:100%;
    position:fixed;
    top:0px;
}

#logo {
    background:purple;
    border:1px solid black;
    width: 200px;
    height: 50px;
    margin:0px auto;
    text-align: center;
    vertical-align: middle;
    
}
*/
/*
Trying to get the the design closer and closer to the picture
The logout position needs fixing
*/


#Logo{font-weight:bold;color:#000000;font-size:24px;text-align:left;font-family:helvetica, sans-serif; text-align: center;}


.header {
    width:175px;
    height: 100%;
    top: 0px;
    left: 0px;
    background:purple;
    position: absolute;
}


#Menu1 {
   position: absolute;
   top: 150px;
   left: 55px;
   
   
}

.content {
    width:85%;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 600px;
    left: 180px;
    top: 100px;
    padding: 20px auto;
    position: relative;
}

.logout 
{
    right: 20%;
    float: right;
    top: 1px;
    width: 200px;
    height: 90px;
    
}




#logoutButton { position: absolute;    right: 80px;    top: 61px;	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;	background-color:#ededed;	-webkit-border-top-left-radius:11px;	-moz-border-radius-topleft:11px;	-webkit-border-top-right-radius:11px;	-moz-border-radius-topright:11px;	-webkit-border-bottom-right-radius:11px;	-moz-border-radius-bottomright:11px;	-webkit-border-bottom-left-radius:11px;	-moz-border-radius-bottomleft:11px;	text-indent:0px;	display:inline-block;	color:#777777;	font-family:Arial;	font-size:12px;	font-weight:normal;	font-style:normal;	height:31px;	line-height:31px; width:55px;	text-decoration:none; text-align:center;}
#logoutButton:hover {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) ); background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% ); background-color:#dfdfdf;}
#logoutButton:active { position: absolute;    right: 80px;    top: 61px;	}
#logoutButton:focus {outline:0;}
#CurrentUserTxt{position: absolute; right: 11px; top: 32px; width: 194px; text-align: center;}





.buttonclass {-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );	background-color:#ededed;	-webkit-border-top-left-radius:11px;	-moz-border-radius-topleft:11px;	-webkit-border-top-right-radius:11px;	-moz-border-radius-topright:11px;	-webkit-border-bottom-right-radius:11px;	-moz-border-radius-bottomright:11px;	-webkit-border-bottom-left-radius:11px;	-moz-border-radius-bottomleft:11px;	text-indent:0px;	display:inline-block;	color:#777777;	font-family:Arial;	font-size:12px;	font-weight:normal;	font-style:normal;	height:31px;	line-height:31px;	width:124px;	text-decoration:none;	text-align:center;	}
.buttonclass:hover {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );background-color:#dfdfdf;}
.buttonclass:active {position:relative;top:1px;}
